In [3]:
import bs4
import urllib3

C:\Users\rames\Anaconda3\lib\site-packages\urllib3\connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

In [11]:
import requests

page = requests.get("https://www.encyclopedia-titanica.org/titanic-passenger-list/")

In [17]:
page

In [12]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(page.content, 'html.parser')

In [19]:
x

NameError: name 'x' is not defined

In [20]:
table=soup.find('table')

In [21]:
import pandas as pd

In [23]:
data = pd.read_html(str(table),flavor='bs4')[0]

In [24]:
data.head()

,Name,Age,Class/Dept,Ticket,Joined,Job,Boat [Body],Unnamed: 7
0,"ALLEN, Miss Elisabeth Walton",29,1st Class Passenger,24160£211 60s 9d,Southampton,NaN,2,NaN
1,"ALLISON, Mr Hudson Joshua Creighton",30,1st Class Passenger,113781£151 16s,Southampton,Businessman,[135],NaN
2,"ALLISON, Mrs Bessie Waldo",25,1st Class Passenger,113781£151 16s,Southampton,NaN,NaN,NaN
3,"ALLISON, Miss Helen Loraine",2,1st Class Passenger,113781£151 16s,Southampton,NaN,NaN,NaN
4,"ALLISON, Master Hudson Trevor",11 m,1st Class Passenger,113781£151 16s,Southampton,NaN,11,NaN

In [43]:
requiredData = data[['Name','Age','Class/Dept','Boat [Body]']]

In [44]:
requiredData
requiredData = requiredData.drop(requiredData['m' in requiredData.Age < 50].index)

                                  Name   Age           Class/Dept Boat [Body]
0         ALLEN, Miss Elisabeth Walton    29  1st Class Passenger           2
1  ALLISON, Mr Hudson Joshua Creighton    30  1st Class Passenger       [135]
2            ALLISON, Mrs Bessie Waldo    25  1st Class Passenger         NaN
3          ALLISON, Miss Helen Loraine     2  1st Class Passenger         NaN
4        ALLISON, Master Hudson Trevor  11 m  1st Class Passenger          11

In [29]:
def findPassengerType(classType):
    if('Passenger' in classType):
        return 'Passenger';
    else:
        return 'Crew';

In [31]:
requiredData['Crew/Pass']=requiredData['Class/Dept'].apply(findPassengerType)

C:\Users\rames\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [41]:
requiredData.sum()

Name          ALLEN, Miss Elisabeth WaltonALLISON, Mr Hudson...
Class/Dept    1st Class Passenger1st Class Passenger1st Clas...
Crew/Pass     PassengerPassengerPassengerPassengerPassengerP...
dtype: object

In [33]:
def checkAudult(Age):
    if(Age>18):
        return "Audult";
    else:
        return "Child"

In [36]:
def covertAgeToYears(Age):
    if('m' in Age):
        return "1";

In [45]:
requiredData['Age']=requiredData['Age'].apply(covertAgeToYears)

TypeError: argument of type 'float' is not iterable

In [35]:
requiredData['Age']=requiredData['Age'].apply(pd.to_numeric)

ValueError: Unable to parse string "11 m" at position 0

In [34]:
requiredData['Adult/Child']=requiredData['Class/Dept'].apply(checkAudult)

TypeError: '>' not supported between instances of 'str' and 'int'